# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Hydra
outputs/
multirun/

# MLflow & DVC
mlruns/
.dvc/
mlflow.db
mlartifacts/

# Data & Models
data/
models/
*.ckpt
*.onnx
*.trt

# IDE
.idea/
.vscode/
